.adminlog-container {
  margin: 0;
  padding: 0;
  background-color: #e0e5ec;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.adminlog-container .container-fluid {
  margin-top: 0;
  height: 400px;
  width: 300px;
  background-color: #f4f6f8;
  box-shadow: 20px 20px 30px #a3b1c6;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 10px;
}

.adminlog-container h2 {
  margin-top: 25px;
}

.adminlog-user {
  width: 300px; 
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px 10px 0px 0px;
}

form {
  margin-top: 20px;
  gap: 10px;
  width: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

form input {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  box-sizing: border-box;
  border: 2px solid white;
  outline: none;
  border-radius: 5px;  
  background-color: white;
  box-shadow: 5px 5px 10px #a3b1c6;
}

form .btn{
    font-weight: bold;
    width: 100px;
    border-radius: 10px;
}

form .btn a{
    text-decoration: none;
    color: green;
}

form .btn:hover a{
    text-decoration: none;
    color: white;
}

hr{
    width: 150px;
    color: rgb(66, 66, 66);
}

.end{
    display: flex;
    font-weight: 500;
    gap: 5px;
}

.end span a{
    text-decoration: none;
}